body {
    overflow-X: hidden;
}

.presentation1  {
    display: block;
    color: var(--titre);
}

.surligne{
    height: 2px;
    width: 0%;
    display: block;
    background-color: var(--titre);
    transition:  width 0.2s ease-in-out;
}

.presentation1:hover + .surligne{
    width: 100%;
}
.projets:hover + .surligne{
    width: 100%;
}
.contact1:hover + .surligne{
    width: 100%;
}

.projets {
    display: inline;
    color: var(--titre);

}

.contact1 {
    display: inline;
    color: var(--titre);
}

.burger{
    display: none;
}

nav {
    display: none;
}

.soleil2 {
    display: block;
}
.lune2 {
    display: none
}

.invisible1 {
    display: block;
}
.invisible2 {
    display: none;
}

.salut {
    display: block;
    transition: 0.5s;
}

.aurevoir {
    display: none;
    transition: 0.5s;
}


header {
    z-index: 2;
}

/* bordel de header au dessus  */

h1 {
    font-size: 1em;
    display: inline;
    font-weight: normal;
}

h2 {
    color: var(--titre);
    text-align: start;
    display: inline-block;
    padding: 15px;
    margin: 30px 0px;
    font-size: 2em;
}

h3 {
    text-align: center;
    margin: 100px 0px;
    cursor: pointer;
}

svg {
    cursor: pointer;
}

p {
    color: var(--texte);
    font-size: 1.5em;
    padding: 10px;
}

a {
    display: block;
}

.block {
    display: unset;
}
/* Regle général  */



.presentation {
    display: flex;
    align-items: center;
    margin: 150px 50px;
    gap: 50px;
}

.moi {
    max-width: 600px;
    max-height: 600px;
    animation: apparait 1s 1s ease-out 1 forwards;
    transform: translate(-200%);
}

.description {
    margin-top: unset;
    text-align: center;
    color: var(--texte);
    animation: apparait2 1s 2s ease-out 1 forwards;
    transform: translate(-200%);
}


.sites {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    transform: translate(-100%);
}

.coucou {
    animation: apparait 1.5s ease-in-out 1 forwards;
}

.gauche div {
    max-width: 250px;
    max-height: 250px;
    overflow: unset;
    margin: 0px 50px;
}
.droite div {
    max-width: 250px;
    max-height: 250px;
    overflow: unset;
    margin: 0px 50px;
}
.droite div a {
    width: 250px;
    height: 250px;
}
.gauche div a {
    width: 250px;
    height: 250px;
}

.droite {
    display: flex;
}

.gauche {
    display: flex; 
}

.pasLa {
   display: none;
}

#YT {
    padding-top: 10px;
}

#ecofood:hover{
    scale: 1.2;
    transition: 0.3s;
}
#ecofood{
    transition: 0.3s;
}

#LTJV:hover{
    scale: 1.2;
    transition: 0.3s;
}
#LTJV{
    transition: 0.3s;
}
#nutry:hover{
    scale: 1.2;
    transition: 0.3s;
}
#nutry{
    transition: 0.3s;
}
#YT:hover{
    scale: 1.2;
    transition: 0.3s;
}
#YT{
    transition: 0.3s;
}

.tourne {
    animation: tourne 0.5s 1 ease-in-out forwards;
}

/* @keyframes tourne {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

@keyframes apparait {
    0%{
        transform: translate(-100%);
        opacity: 0;
    }
    100%{
        transform: translate(0%);
        opacity: 1;
    }
}
@keyframes apparait2 {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}